CompileFlags:
  # Прибираємо ARM GCC-специфічні прапори, які clang не розуміє
  Remove:
    - -mthumb
    - -mcpu=*
    - -mfloat-abi=*
    - -mfpu=*
    - -fno-common
    - -ffunction-sections
    - -fdata-sections
    - -Wimplicit-function-declaration
    - -Wredundant-decls
    - -Wmissing-prototypes
    - -Wstrict-prototypes
    - -Wshadow
  Add:
    - --target=arm-none-eabi
    - -Wno-unknown-warning-option
    - -I/home/zirow/development/c_lib/ServoLib/.clangd-stubs
